openapi: 3.1.0
info:
  description: ""
  license:
    name: ""
  title: HenrikDev API
  version: 4.6.0
servers:
- url: https://api.henrikdev.xyz
security:
- api_key_header: []
- api_key_query: []
tags:
- description: Valorant public API endpoints
  name: valorant
- description: Premium account and webhook endpoints
  name: premium
paths:
  /valorant/v1/account/{name}/{tag}:
    get:
      operationId: get_account_v1
      parameters:
      - description: Riot ID name
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: Riot ID tag
        explode: false
        in: path
        name: tag
        required: true
        schema:
          type: string
        style: simple
      - description: Bypass cache and refresh (optional)
        explode: true
        in: query
        name: force
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountV1Response"
          description: Account data retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Account not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      summary: Get account (v1)
      tags:
      - valorant
  /valorant/v1/by-puuid/account/{puuid}:
    get:
      operationId: get_account_by_id_v1
      parameters:
      - description: Player UUID
        explode: false
        in: path
        name: puuid
        required: true
        schema:
          type: string
        style: simple
      - description: Bypass cache and refresh (optional)
        explode: true
        in: query
        name: force
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountV1Response"
          description: Account data retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Account not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      summary: Get account by PUUID (v1)
      tags:
      - valorant
  /valorant/v2/account/{name}/{tag}:
    get:
      operationId: get_account_v2
      parameters:
      - description: Riot ID name
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: Riot ID tag
        explode: false
        in: path
        name: tag
        required: true
        schema:
          type: string
        style: simple
      - description: Bypass cache and refresh (optional)
        explode: true
        in: query
        name: force
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountV2Response"
          description: Account data retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Account not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      summary: Get account (v2)
      tags:
      - valorant
  /valorant/v2/by-puuid/account/{puuid}:
    get:
      operationId: get_account_by_id_v2
      parameters:
      - description: Player UUID
        explode: false
        in: path
        name: puuid
        required: true
        schema:
          type: string
        style: simple
      - description: Bypass cache and refresh (optional)
        explode: true
        in: query
        name: force
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountV2Response"
          description: Account data retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Account not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      summary: Get account by PUUID (v2)
      tags:
      - valorant
  /valorant/v1/mmr/{affinity}/{name}/{tag}:
    get:
      operationId: get_mmr_v1_by_name
      parameters:
      - description: "Region/affinity (e.g., na, eu, ap, kr)"
        explode: false
        in: path
        name: affinity
        required: true
        schema:
          type: string
        style: simple
      - description: Riot ID name
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: Riot ID tag
        explode: false
        in: path
        name: tag
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MMRV1Response"
          description: MMR data retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Account not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      summary: Get MMR by name (v1)
      tags:
      - valorant
  /valorant/v1/by-puuid/mmr/{affinity}/{puuid}:
    get:
      operationId: get_mmr_v1_by_id
      parameters:
      - description: "Region/affinity (e.g., na, eu, ap, kr)"
        explode: false
        in: path
        name: affinity
        required: true
        schema:
          type: string
        style: simple
      - description: Player UUID
        explode: false
        in: path
        name: puuid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MMRV1Response"
          description: MMR data retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Account not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      summary: Get MMR by PUUID (v1)
      tags:
      - valorant
  /valorant/v2/mmr/{affinity}/{name}/{tag}:
    get:
      operationId: get_mmr_v2_by_name
      parameters:
      - description: "Region/affinity (e.g., na, eu, ap, kr)"
        explode: false
        in: path
        name: affinity
        required: true
        schema:
          type: string
        style: simple
      - description: Riot ID name
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: Riot ID tag
        explode: false
        in: path
        name: tag
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MMRV2Response"
          description: MMR data retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Account not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      summary: Get MMR by name (v2)
      tags:
      - valorant
  /valorant/v2/by-puuid/mmr/{affinity}/{puuid}:
    get:
      operationId: get_mmr_v2_by_id
      parameters:
      - description: "Region/affinity (e.g., na, eu, ap, kr)"
        explode: false
        in: path
        name: affinity
        required: true
        schema:
          type: string
        style: simple
      - description: Player UUID
        explode: false
        in: path
        name: puuid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MMRV2Response"
          description: MMR data retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Account not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      summary: Get MMR by PUUID (v2)
      tags:
      - valorant
  /valorant/v3/mmr/{affinity}/{platform}/{name}/{tag}:
    get:
      operationId: get_mmr_v3_by_name
      parameters:
      - description: "Region/affinity (e.g., na, eu, ap, kr)"
        explode: false
        in: path
        name: affinity
        required: true
        schema:
          type: string
        style: simple
      - description: "Platform (pc, console)"
        explode: false
        in: path
        name: platform
        required: true
        schema:
          type: string
        style: simple
      - description: Riot ID name
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: Riot ID tag
        explode: false
        in: path
        name: tag
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MMRV3Response"
          description: MMR data retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Account not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      summary: Get MMR by name (v3)
      tags:
      - valorant
  /valorant/v3/by-puuid/mmr/{affinity}/{platform}/{puuid}:
    get:
      operationId: get_mmr_v3_by_id
      parameters:
      - description: "Region/affinity (e.g., na, eu, ap, kr)"
        explode: false
        in: path
        name: affinity
        required: true
        schema:
          type: string
        style: simple
      - description: "Platform (pc, console)"
        explode: false
        in: path
        name: platform
        required: true
        schema:
          type: string
        style: simple
      - description: Player UUID
        explode: false
        in: path
        name: puuid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MMRV3Response"
          description: MMR data retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Account not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      summary: Get MMR by PUUID (v3)
      tags:
      - valorant
  /valorant/v1/mmr-history/{affinity}/{name}/{tag}:
    get:
      operationId: get_mmr_history_by_name
      parameters:
      - description: "Region/affinity (e.g., na, eu, ap, kr)"
        explode: false
        in: path
        name: affinity
        required: true
        schema:
          type: string
        style: simple
      - description: Riot ID name
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: Riot ID tag
        explode: false
        in: path
        name: tag
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MMRHistoryV1Response"
          description: MMR history retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Account not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      summary: Get MMR history by name (v1)
      tags:
      - valorant
  /valorant/v1/by-puuid/mmr-history/{affinity}/{puuid}:
    get:
      operationId: get_mmr_history_by_id
      parameters:
      - description: "Region/affinity (e.g., na, eu, ap, kr)"
        explode: false
        in: path
        name: affinity
        required: true
        schema:
          type: string
        style: simple
      - description: Player UUID
        explode: false
        in: path
        name: puuid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MMRHistoryV1Response"
          description: MMR history retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Account not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      summary: Get MMR history by PUUID (v1)
      tags:
      - valorant
  /valorant/v2/mmr-history/{affinity}/{platform}/{name}/{tag}:
    get:
      operationId: get_mmr_history_v2_by_name
      parameters:
      - description: "Region/affinity (e.g., na, eu, ap, kr)"
        explode: false
        in: path
        name: affinity
        required: true
        schema:
          type: string
        style: simple
      - description: "Platform (pc, console)"
        explode: false
        in: path
        name: platform
        required: true
        schema:
          type: string
        style: simple
      - description: Riot ID name
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: Riot ID tag
        explode: false
        in: path
        name: tag
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MMRHistoryV2Response"
          description: MMR history retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Account not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      summary: Get MMR history by name (v2)
      tags:
      - valorant
  /valorant/v2/by-puuid/mmr-history/{affinity}/{platform}/{puuid}:
    get:
      operationId: get_mmr_history_v2_by_id
      parameters:
      - description: "Region/affinity (e.g., na, eu, ap, kr)"
        explode: false
        in: path
        name: affinity
        required: true
        schema:
          type: string
        style: simple
      - description: "Platform (pc, console)"
        explode: false
        in: path
        name: platform
        required: true
        schema:
          type: string
        style: simple
      - description: Player UUID
        explode: false
        in: path
        name: puuid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MMRHistoryV2Response"
          description: MMR history retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Account not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      summary: Get MMR history by PUUID (v2)
      tags:
      - valorant
  /valorant/v3/matches/{affinity}/{name}/{tag}:
    get:
      operationId: get_matches_v3_by_name
      parameters:
      - description: "Region/affinity (e.g., na, eu, ap, kr)"
        explode: false
        in: path
        name: affinity
        required: true
        schema:
          type: string
        style: simple
      - description: Riot ID name
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: Riot ID tag
        explode: false
        in: path
        name: tag
        required: true
        schema:
          type: string
        style: simple
      - description: Game mode filter (optional)
        explode: true
        in: query
        name: mode
        required: false
        schema:
          $ref: "#/components/schemas/MatchMode"
        style: form
      - description: Map filter (optional)
        explode: true
        in: query
        name: map
        required: false
        schema:
          type: string
        style: form
      - description: Number of results (optional)
        explode: true
        in: query
        name: size
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MatchesV3ListResponse"
          description: Match history retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Account not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      summary: Get matches by name (v3)
      tags:
      - valorant
  /valorant/v3/by-puuid/matches/{affinity}/{puuid}:
    get:
      operationId: get_matches_v3_by_id
      parameters:
      - description: "Region/affinity (e.g., na, eu, ap, kr)"
        explode: false
        in: path
        name: affinity
        required: true
        schema:
          type: string
        style: simple
      - description: Player UUID
        explode: false
        in: path
        name: puuid
        required: true
        schema:
          type: string
        style: simple
      - description: Game mode filter (optional)
        explode: true
        in: query
        name: mode
        required: false
        schema:
          type: string
        style: form
      - description: Map filter (optional)
        explode: true
        in: query
        name: map
        required: false
        schema:
          type: string
        style: form
      - description: Number of results (optional)
        explode: true
        in: query
        name: size
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MatchesV3ListResponse"
          description: Match history retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Account not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      summary: Get matches by PUUID (v3)
      tags:
      - valorant
  /valorant/v4/matches/{affinity}/{platform}/{name}/{tag}:
    get:
      operationId: get_matches_v4_by_name
      parameters:
      - description: "Region/affinity (e.g., na, eu, ap, kr)"
        explode: false
        in: path
        name: affinity
        required: true
        schema:
          type: string
        style: simple
      - description: "Platform (pc, console)"
        explode: false
        in: path
        name: platform
        required: true
        schema:
          type: string
        style: simple
      - description: Riot ID name
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: Riot ID tag
        explode: false
        in: path
        name: tag
        required: true
        schema:
          type: string
        style: simple
      - description: Game mode filter (optional)
        explode: true
        in: query
        name: mode
        required: false
        schema:
          type: string
        style: form
      - description: Map filter (optional)
        explode: true
        in: query
        name: map
        required: false
        schema:
          type: string
        style: form
      - description: Number of results (optional)
        explode: true
        in: query
        name: size
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Start index for pagination (optional)
        explode: true
        in: query
        name: start
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MatchesV4HistoryResponse"
          description: Match history retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Account not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      summary: Get matches by name (v4)
      tags:
      - valorant
  /valorant/v4/by-puuid/matches/{affinity}/{platform}/{puuid}:
    get:
      operationId: get_matches_v4_by_id
      parameters:
      - description: "Region/affinity (e.g., na, eu, ap, kr)"
        explode: false
        in: path
        name: affinity
        required: true
        schema:
          type: string
        style: simple
      - description: "Platform (pc, console)"
        explode: false
        in: path
        name: platform
        required: true
        schema:
          type: string
        style: simple
      - description: Player UUID
        explode: false
        in: path
        name: puuid
        required: true
        schema:
          type: string
        style: simple
      - description: Game mode filter (optional)
        explode: true
        in: query
        name: mode
        required: false
        schema:
          type: string
        style: form
      - description: Map filter (optional)
        explode: true
        in: query
        name: map
        required: false
        schema:
          type: string
        style: form
      - description: Number of results (optional)
        explode: true
        in: query
        name: size
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Start index for pagination (optional)
        explode: true
        in: query
        name: start
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MatchesV4HistoryResponse"
          description: Match history retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Account not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      summary: Get matches by PUUID (v4)
      tags:
      - valorant
  /valorant/v2/match/{match_id}:
    get:
      operationId: match_v2
      parameters:
      - description: Match UUID
        explode: false
        in: path
        name: match_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MatchesV2Response"
          description: Match details retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Match not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      summary: Get match details (v2)
      tags:
      - valorant
  /valorant/v4/match/{affinity}/{match_id}:
    get:
      operationId: match_v4
      parameters:
      - description: "Region/affinity (e.g., na, eu, ap, kr)"
        explode: false
        in: path
        name: affinity
        required: true
        schema:
          type: string
        style: simple
      - description: Match UUID
        explode: false
        in: path
        name: match_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MatchesV4Response"
          description: Match details retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Match not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      summary: Get match details (v4)
      tags:
      - valorant
  /valorant/v1/leaderboard/{affinity}:
    get:
      operationId: leaderboard_v1
      parameters:
      - description: "Region/affinity (e.g., na, eu, ap, kr)"
        explode: false
        in: path
        name: affinity
        required: true
        schema:
          type: string
        style: simple
      - description: Season ID (optional)
        explode: true
        in: query
        name: season
        required: false
        schema:
          type: string
        style: form
      - description: Player name to search for (optional)
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: Player tag to search for (optional)
        explode: true
        in: query
        name: tag
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Leaderboard retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Leaderboard not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      summary: Get leaderboard (v1)
      tags:
      - valorant
  /valorant/v2/leaderboard/{affinity}:
    get:
      operationId: leaderboard_v2
      parameters:
      - description: "Region/affinity (e.g., na, eu, ap, kr)"
        explode: false
        in: path
        name: affinity
        required: true
        schema:
          type: string
        style: simple
      - description: Season ID (optional)
        explode: true
        in: query
        name: season
        required: false
        schema:
          type: string
        style: form
      - description: Player name to search for (optional)
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: Player tag to search for (optional)
        explode: true
        in: query
        name: tag
        required: false
        schema:
          type: string
        style: form
      - description: Player UUID to search for (optional)
        explode: true
        in: query
        name: puuid
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LeaderboardV2Response"
          description: Leaderboard retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Leaderboard not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      summary: Get leaderboard (v2)
      tags:
      - valorant
  /valorant/v3/leaderboard/{affinity}/{platform}:
    get:
      operationId: leaderboard_v3
      parameters:
      - description: "Region/affinity (e.g., na, eu, ap, kr)"
        explode: false
        in: path
        name: affinity
        required: true
        schema:
          type: string
        style: simple
      - description: "Platform (pc, console)"
        explode: false
        in: path
        name: platform
        required: true
        schema:
          type: string
        style: simple
      - description: Season ID (optional)
        explode: true
        in: query
        name: season
        required: false
        schema:
          type: string
        style: form
      - description: Number of results per page (optional)
        explode: true
        in: query
        name: size
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Page number (optional)
        explode: true
        in: query
        name: page
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Player name to search for (optional)
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: Player tag to search for (optional)
        explode: true
        in: query
        name: tag
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LeaderboardV3Response"
          description: Leaderboard retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Leaderboard not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      summary: Get leaderboard (v3)
      tags:
      - valorant
  /valorant/v1/premier/search:
    get:
      operationId: premier_search
      parameters:
      - description: Team name to search for (optional)
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: Team tag to search for (optional)
        explode: true
        in: query
        name: tag
        required: false
        schema:
          type: string
        style: form
      - description: Team UUID to search for (optional)
        explode: true
        in: query
        name: id
        required: false
        schema:
          type: string
        style: form
      - description: Premier season id (optional)
        explode: true
        in: query
        name: season
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PremierSearchResponse"
          description: Premier team search results retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: No teams found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      summary: Search Premier teams (v1)
      tags:
      - valorant
  /valorant/v1/premier/leaderboard/{affinity}:
    get:
      operationId: premier_leaderboard
      parameters:
      - description: "Region/affinity (e.g., na, eu, ap, kr)"
        explode: false
        in: path
        name: affinity
        required: true
        schema:
          type: string
        style: simple
      - description: Conference filter (optional)
        explode: true
        in: query
        name: conference
        required: false
        schema:
          type: string
        style: form
      - description: Division filter (optional)
        explode: true
        in: query
        name: division
        required: false
        schema:
          type: string
        style: form
      - description: Premier season id (optional)
        explode: true
        in: query
        name: season
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PremierSearchResponse"
          description: Premier leaderboard retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Leaderboard not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      summary: Get Premier leaderboard (v1)
      tags:
      - valorant
  /valorant/v1/premier/{name}/{tag}:
    get:
      operationId: premier_by_name
      parameters:
      - description: Team name
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: Team tag
        explode: false
        in: path
        name: tag
        required: true
        schema:
          type: string
        style: simple
      - description: Premier season id (optional)
        explode: true
        in: query
        name: season
        required: false
        schema:
          type: string
        style: form
      - description: Region/affinity for fallback resolution (optional)
        explode: true
        in: query
        name: affinity
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PremierTeamV1Response"
          description: Premier team data retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Team not found
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Multiple teams match this name and tag
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      summary: Get Premier team by name (v1)
      tags:
      - valorant
  /valorant/v1/premier/{id}:
    get:
      operationId: premier_by_id
      parameters:
      - description: Team UUID
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Premier season id (optional)
        explode: true
        in: query
        name: season
        required: false
        schema:
          type: string
        style: form
      - description: Region/affinity for fallback resolution (optional)
        explode: true
        in: query
        name: affinity
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PremierTeamV1Response"
          description: Premier team data retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Team not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      summary: Get Premier team by ID (v1)
      tags:
      - valorant
  /valorant/v1/premier/{name}/{tag}/history:
    get:
      operationId: premier_by_name_history
      parameters:
      - description: Team name
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: Team tag
        explode: false
        in: path
        name: tag
        required: true
        schema:
          type: string
        style: simple
      - description: Premier season id (optional)
        explode: true
        in: query
        name: season
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PremierTeamHistoryV1Response"
          description: Premier team history retrieved successfully
        "400":
          description: Client error
      summary: Get Premier team history by name (v1)
      tags:
      - valorant
  /valorant/v1/premier/{id}/history:
    get:
      operationId: premier_by_id_history
      parameters:
      - description: Team UUID
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Premier season id (optional)
        explode: true
        in: query
        name: season
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PremierTeamV1Response"
          description: Premier team history retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Team not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      summary: Get Premier team history by ID (v1)
      tags:
      - valorant
  /valorant/v1/esports/schedule:
    get:
      operationId: esports_schedules_v1
      parameters:
      - explode: true
        in: query
        name: region
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: league
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EsportsV1Response"
          description: Esports schedule retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Schedule not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      summary: Get esports schedule (v1)
      tags:
      - valorant
  /valorant/v2/esports/vlr/events:
    get:
      operationId: esports_events_v2
      parameters:
      - explode: true
        in: query
        name: region
        required: false
        schema:
          $ref: "#/components/schemas/EsportsV2Region"
        style: form
      - explode: true
        in: query
        name: type
        required: false
        schema:
          $ref: "#/components/schemas/EsportsV2EventType"
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          format: int32
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EsportsV2EventsResponse"
          description: Esports events retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      summary: Get VLR esports events (v2)
      tags:
      - valorant
  /valorant/v2/esports/vlr/events/{event_id}/matches:
    get:
      operationId: esports_event_v2
      parameters:
      - explode: false
        in: path
        name: event_id
        required: true
        schema:
          format: int32
          minimum: 0
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EsportsV2EventResponse"
          description: Esports event matches retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      summary: Get VLR event matches (v2)
      tags:
      - valorant
  /valorant/v2/esports/vlr/matches/{match_id}:
    get:
      operationId: esports_match_v2
      parameters:
      - explode: false
        in: path
        name: match_id
        required: true
        schema:
          format: int32
          minimum: 0
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EsportsV2MatchesResponse"
          description: Esports match details retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      summary: Get VLR match details (v2)
      tags:
      - valorant
  /valorant/v2/esports/vlr/teams/{team_id}:
    get:
      operationId: esports_team_v2
      parameters:
      - explode: false
        in: path
        name: team_id
        required: true
        schema:
          format: int32
          minimum: 0
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EsportsV2TeamResponse"
          description: Esports team profile retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      summary: Get VLR team (v2)
      tags:
      - valorant
  /valorant/v2/esports/vlr/teams/{team_id}/matches:
    get:
      operationId: esports_team_matches_v2
      parameters:
      - explode: false
        in: path
        name: team_id
        required: true
        schema:
          format: int32
          minimum: 0
          type: integer
        style: simple
      - explode: true
        in: query
        name: page
        required: false
        schema:
          format: int32
          minimum: 0
          nullable: true
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EsportsV2TeamMatchListResponse"
          description: Esports team matches retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      summary: Get VLR team matches (v2)
      tags:
      - valorant
  /valorant/v2/esports/vlr/teams/{team_id}/transactions:
    get:
      operationId: esports_team_transactions_v2
      parameters:
      - explode: false
        in: path
        name: team_id
        required: true
        schema:
          format: int32
          minimum: 0
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EsportsV2TeamTransactionsResponse"
          description: Esports team transactions retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      summary: Get VLR team transactions (v2)
      tags:
      - valorant
  /valorant/v2/esports/vlr/players/{player_id}:
    get:
      operationId: esports_player_v2
      parameters:
      - explode: false
        in: path
        name: player
        required: true
        schema:
          format: int32
          minimum: 0
          type: integer
        style: simple
      - explode: true
        in: query
        name: timespan
        required: false
        schema:
          $ref: "#/components/schemas/EsportsV2PlayerTimespan"
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EsportsV2PlayerResponse"
          description: Esports player profile retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      summary: Get VLR player (v2)
      tags:
      - valorant
  /valorant/v2/esports/vlr/players/{player}/matches:
    get:
      operationId: esports_player_matches_v2
      parameters:
      - explode: false
        in: path
        name: player
        required: true
        schema:
          format: int32
          minimum: 0
          type: integer
        style: simple
      - explode: true
        in: query
        name: page
        required: false
        schema:
          format: int32
          minimum: 0
          nullable: true
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EsportsV2PlayerMatchesResponse"
          description: Esports player matches retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      summary: Get VLR player matches (v2)
      tags:
      - valorant
  /valorant/v1/stored-matches/{affinity}/{name}/{tag}:
    get:
      operationId: stored_matches
      parameters:
      - description: "Region/affinity (e.g., na, eu, ap, kr)"
        explode: false
        in: path
        name: affinity
        required: true
        schema:
          type: string
        style: simple
      - description: Riot ID name
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: Riot ID tag
        explode: false
        in: path
        name: tag
        required: true
        schema:
          type: string
        style: simple
      - description: Game mode filter (optional)
        explode: true
        in: query
        name: mode
        required: false
        schema:
          type: string
        style: form
      - description: Map filter (optional)
        explode: true
        in: query
        name: map
        required: false
        schema:
          type: string
        style: form
      - description: Number of results (optional)
        explode: true
        in: query
        name: size
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StoredMatchesResponse"
          description: Stored match history retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Account not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      summary: Get stored matches by name (v1)
      tags:
      - valorant
  /valorant/v1/by-puuid/stored-matches/{affinity}/{puuid}:
    get:
      operationId: stored_matches_by_id
      parameters:
      - description: "Region/affinity (e.g., na, eu, ap, kr)"
        explode: false
        in: path
        name: affinity
        required: true
        schema:
          type: string
        style: simple
      - description: Player UUID
        explode: false
        in: path
        name: puuid
        required: true
        schema:
          type: string
        style: simple
      - description: Game mode filter (optional)
        explode: true
        in: query
        name: mode
        required: false
        schema:
          type: string
        style: form
      - description: Map filter (optional)
        explode: true
        in: query
        name: map
        required: false
        schema:
          type: string
        style: form
      - description: Number of results (optional)
        explode: true
        in: query
        name: size
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StoredMatchesResponse"
          description: Stored match history retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Account not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      summary: Get stored matches by PUUID (v1)
      tags:
      - valorant
  /valorant/v1/stored-mmr-history/{affinity}/{name}/{tag}:
    get:
      operationId: stored_mmr_history
      parameters:
      - description: "Region/affinity (e.g., na, eu, ap, kr)"
        explode: false
        in: path
        name: affinity
        required: true
        schema:
          type: string
        style: simple
      - description: Riot ID name
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: Riot ID tag
        explode: false
        in: path
        name: tag
        required: true
        schema:
          type: string
        style: simple
      - description: Number of results (optional)
        explode: true
        in: query
        name: size
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StoredMMRResponse"
          description: Stored MMR history retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Account not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      summary: Get stored MMR history by name (v1)
      tags:
      - valorant
  /valorant/v1/by-puuid/stored-mmr-history/{affinity}/{puuid}:
    get:
      operationId: stored_mmr_history_by_id
      parameters:
      - description: "Region/affinity (e.g., na, eu, ap, kr)"
        explode: false
        in: path
        name: affinity
        required: true
        schema:
          type: string
        style: simple
      - description: Player UUID
        explode: false
        in: path
        name: puuid
        required: true
        schema:
          type: string
        style: simple
      - description: Number of results (optional)
        explode: true
        in: query
        name: size
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StoredMMRResponse"
          description: Stored MMR history retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Account not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      summary: Get stored MMR history by PUUID (v1)
      tags:
      - valorant
  /valorant/v2/stored-mmr-history/{affinity}/{platform}/{name}/{tag}:
    get:
      operationId: stored_mmr_history_v2
      parameters:
      - description: "Region/affinity (e.g., na, eu, ap, kr)"
        explode: false
        in: path
        name: affinity
        required: true
        schema:
          type: string
        style: simple
      - description: "Platform (pc, console)"
        explode: false
        in: path
        name: platform
        required: true
        schema:
          type: string
        style: simple
      - description: Riot ID name
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: Riot ID tag
        explode: false
        in: path
        name: tag
        required: true
        schema:
          type: string
        style: simple
      - description: Number of results (optional)
        explode: true
        in: query
        name: size
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StoredMMRV2Response"
          description: Stored MMR history retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Account not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      summary: Get stored MMR history by name (v2)
      tags:
      - valorant
  /valorant/v2/by-puuid/stored-mmr-history/{affinity}/{platform}/{puuid}:
    get:
      operationId: stored_mmr_history_v2_by_id
      parameters:
      - description: "Region/affinity (e.g., na, eu, ap, kr)"
        explode: false
        in: path
        name: affinity
        required: true
        schema:
          type: string
        style: simple
      - description: "Platform (pc, console)"
        explode: false
        in: path
        name: platform
        required: true
        schema:
          type: string
        style: simple
      - description: Player UUID
        explode: false
        in: path
        name: puuid
        required: true
        schema:
          type: string
        style: simple
      - description: Number of results (optional)
        explode: true
        in: query
        name: size
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StoredMMRV2Response"
          description: Stored MMR history retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Account not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      summary: Get stored MMR history by PUUID (v2)
      tags:
      - valorant
  /valorant/v1/content:
    get:
      operationId: get_content_v1
      parameters:
      - description: "Locale code (e.g., en-US, de-DE) - optional"
        explode: true
        in: query
        name: locale
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContentV1Response"
          description: Content retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Content not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      summary: Get content (v1)
      tags:
      - valorant
  /valorant/{version}/store-featured:
    get:
      operationId: StoreFeatured
      parameters:
      - description: "API version (v1, v2)"
        explode: false
        in: path
        name: version
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StoreFeaturedV1"
          description: Store featured items retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Store data not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      summary: Get featured store items
      tags:
      - valorant
  /valorant/{version}/store-offers:
    get:
      operationId: StoreOffers
      parameters:
      - description: "API version (v1, v2)"
        explode: false
        in: path
        name: version
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StoreOffersV1Response"
          description: Store offers retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Store data not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      summary: Get store offers
      tags:
      - valorant
  /valorant/v1/crosshair/generate:
    get:
      operationId: crosshair
      parameters:
      - description: Crosshair code
        explode: true
        in: query
        name: id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            image/png: {}
          description: Crosshair image generated successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      summary: Generate crosshair image (v1)
      tags:
      - valorant
  /valorant/v1/status/{affinity}:
    get:
      operationId: Status
      parameters:
      - description: "Region/affinity (e.g., na, eu, ap, kr)"
        explode: false
        in: path
        name: affinity
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StatusV1"
          description: Status retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Region not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      summary: Get status (v1)
      tags:
      - valorant
  /valorant/v1/queue-status/{affinity}:
    get:
      operationId: QueueStatus
      parameters:
      - description: "Region/affinity (e.g., na, eu, ap, kr)"
        explode: false
        in: path
        name: affinity
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QueueStatusV1"
          description: Queue status retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Region not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      summary: Get queue status (v1)
      tags:
      - valorant
  /valorant/v1/version/{affinity}:
    get:
      operationId: Version
      parameters:
      - description: "Region/affinity (e.g., na, eu, ap, kr)"
        explode: false
        in: path
        name: affinity
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VersionV1Response"
          description: Version data retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Region not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      summary: Get game version (v1)
      tags:
      - valorant
  /valorant/v1/website/{country_code}:
    get:
      operationId: Website
      parameters:
      - description: "Country code (e.g., en-us, de-de)"
        explode: false
        in: path
        name: country_code
        required: true
        schema:
          type: string
        style: simple
      - description: Category filter (optional)
        explode: true
        in: query
        name: category
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebsiteV1Response"
          description: Website content retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Content not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      summary: Get website content (v1)
      tags:
      - valorant
  /valorant/v1/website/{country_code}/{db_id}:
    get:
      operationId: WebsiteById
      parameters:
      - description: Database ID of the website entry
        explode: false
        in: path
        name: db_id
        required: true
        schema:
          type: string
        style: simple
      - description: "Country code (e.g., en-us, de-de)"
        explode: false
        in: path
        name: country_code
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebsiteByIdV1Response"
          description: Website entry retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Content not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      summary: Get website entry by ID (v1)
      tags:
      - valorant
  /valorant/v1/raw:
    post:
      operationId: Raw
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RawV1Payload"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RawV1Response"
          description: Raw Riot API data retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Resource not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      summary: Get raw Riot API data (v1)
      tags:
      - valorant
  /public/v1/premium/webhook:
    get:
      operationId: get_webhook_settings
      responses:
        "200":
          description: Premium webhook settings and tracked users retrieved successfully
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      security:
      - api_key_header: []
      - api_key_query: []
      summary: Get premium webhook settings
      tags:
      - premium
  /public/v1/premium/webhook/users:
    post:
      operationId: add_webhook_user
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PremiumWebhookUserAddRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PremiumWebhookUserMutationResponse"
          description: Tracked user added successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Premium plan required
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      security:
      - api_key_header: []
      - api_key_query: []
      summary: Add premium webhook user
      tags:
      - premium
  /public/v1/premium/webhook/users/{id}:
    delete:
      operationId: delete_webhook_user
      parameters:
      - description: Tracked user id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PremiumWebhookDeleteResponse"
          description: Tracked user removed successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Tracked user not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      security:
      - api_key_header: []
      - api_key_query: []
      summary: Delete premium webhook user
      tags:
      - premium
    put:
      operationId: update_webhook_user
      parameters:
      - description: Tracked user id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PremiumWebhookUserUpdateRequest"
        required: true
      responses:
        "200":
          description: Tracked user updated successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Tracked user not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      security:
      - api_key_header: []
      - api_key_query: []
      summary: Update premium webhook user
      tags:
      - premium
components:
  schemas:
    APIError:
      example:
        code: 0
        details: ""
        message: message
        status: 0
      properties:
        code:
          format: int32
          minimum: 0
          type: integer
        details: {}
        message:
          type: string
        status:
          format: int32
          minimum: 0
          type: integer
      required:
      - code
      - message
      - status
    AccountV1Data:
      example:
        account_level: 0
        card:
          id: id
          large: large
          small: small
          wide: wide
        last_update: last_update
        last_update_raw: 6
        name: name
        puuid: puuid
        region: region
        tag: tag
      properties:
        account_level:
          format: int32
          type: integer
        card:
          $ref: "#/components/schemas/AccountV1DataCard"
        last_update:
          type: string
        last_update_raw:
          format: int64
          type: integer
        name:
          type: string
        puuid:
          type: string
        region:
          type: string
        tag:
          type: string
      required:
      - account_level
      - card
      - last_update
      - last_update_raw
      - name
      - puuid
      - region
      - tag
    AccountV1DataCard:
      example:
        id: id
        large: large
        small: small
        wide: wide
      properties:
        id:
          type: string
        large:
          type: string
        small:
          type: string
        wide:
          type: string
      required:
      - id
      - large
      - small
      - wide
    AccountV1Response:
      example:
        data:
          account_level: 0
          card:
            id: id
            large: large
            small: small
            wide: wide
          last_update: last_update
          last_update_raw: 6
          name: name
          puuid: puuid
          region: region
          tag: tag
        status: 0
      properties:
        data:
          $ref: "#/components/schemas/AccountV1Data"
        status:
          format: int32
          minimum: 0
          type: integer
      required:
      - data
      - status
    AccountV2Data:
      example:
        account_level: 0
        card: card
        name: name
        platforms:
        - platforms
        - platforms
        puuid: puuid
        region: region
        tag: tag
        title: title
        updated_at: updated_at
      properties:
        account_level:
          format: int32
          type: integer
        card:
          type: string
        name:
          type: string
        platforms:
          items:
            type: string
          type: array
          default: null
        puuid:
          type: string
        region:
          type: string
        tag:
          type: string
        title:
          type: string
        updated_at:
          type: string
      required:
      - account_level
      - card
      - name
      - platforms
      - puuid
      - region
      - tag
      - title
      - updated_at
    AccountV2Response:
      example:
        data:
          account_level: 0
          card: card
          name: name
          platforms:
          - platforms
          - platforms
          puuid: puuid
          region: region
          tag: tag
          title: title
          updated_at: updated_at
        status: 0
      properties:
        data:
          $ref: "#/components/schemas/AccountV2Data"
        status:
          format: int32
          minimum: 0
          type: integer
      required:
      - data
      - status
    AgentIdNameCombo:
      example:
        id: id
        name: name
      properties:
        id:
          type: string
        name:
          type: string
      required:
      - id
      - name
    Bundle:
      example:
        CurrencyID: CurrencyID
        DataAssetID: DataAssetID
        DurationRemainingInSeconds: 0
        ID: ID
        Items:
        - BasePrice: 6
          CurrencyID: CurrencyID
          DiscountPercent: 1.4658129
          DiscountedPrice: 5.962134
          IsPromoItem: true
          Item:
            Amount: 0
            ItemID: ItemID
            ItemTypeID: ItemTypeID
        - BasePrice: 6
          CurrencyID: CurrencyID
          DiscountPercent: 1.4658129
          DiscountedPrice: 5.962134
          IsPromoItem: true
          Item:
            Amount: 0
            ItemID: ItemID
            ItemTypeID: ItemTypeID
        TotalDiscountPercent: 2.302136
        WholesaleOnly: true
      properties:
        CurrencyID:
          type: string
        DataAssetID:
          type: string
        DurationRemainingInSeconds:
          format: int32
          minimum: 0
          type: integer
        ID:
          type: string
        Items:
          items:
            $ref: "#/components/schemas/BundleItem"
          type: array
          default: null
        TotalDiscountPercent:
          format: float
          type: number
        WholesaleOnly:
          type: boolean
      required:
      - CurrencyID
      - DataAssetID
      - DurationRemainingInSeconds
      - ID
      - Items
      - TotalDiscountPercent
      - WholesaleOnly
    BundleItem:
      example:
        BasePrice: 6
        CurrencyID: CurrencyID
        DiscountPercent: 1.4658129
        DiscountedPrice: 5.962134
        IsPromoItem: true
        Item:
          Amount: 0
          ItemID: ItemID
          ItemTypeID: ItemTypeID
      properties:
        BasePrice:
          format: int32
          type: integer
        CurrencyID:
          type: string
        DiscountPercent:
          format: float
          type: number
        DiscountedPrice:
          format: float
          type: number
        IsPromoItem:
          type: boolean
        Item:
          $ref: "#/components/schemas/Item"
      required:
      - BasePrice
      - CurrencyID
      - DiscountPercent
      - DiscountedPrice
      - IsPromoItem
      - Item
    ContentItem:
      example:
        assetName: assetName
        id: id
        localizedNames:
          key: localizedNames
        name: name
      properties:
        assetName:
          type: string
        id:
          nullable: true
          type: string
        localizedNames:
          additionalProperties:
            type: string
        name:
          type: string
      required:
      - assetName
      - name
    ContentV1:
      example:
        acts:
        - assetName: assetName
          id: id
          localizedNames:
            key: localizedNames
          name: name
        - assetName: assetName
          id: id
          localizedNames:
            key: localizedNames
          name: name
        ceremonies:
        - assetName: assetName
          id: id
          localizedNames:
            key: localizedNames
          name: name
        - assetName: assetName
          id: id
          localizedNames:
            key: localizedNames
          name: name
        characters:
        - assetName: assetName
          id: id
          localizedNames:
            key: localizedNames
          name: name
        - assetName: assetName
          id: id
          localizedNames:
            key: localizedNames
          name: name
        charmLevels:
        - assetName: assetName
          id: id
          localizedNames:
            key: localizedNames
          name: name
        - assetName: assetName
          id: id
          localizedNames:
            key: localizedNames
          name: name
        charms:
        - assetName: assetName
          id: id
          localizedNames:
            key: localizedNames
          name: name
        - assetName: assetName
          id: id
          localizedNames:
            key: localizedNames
          name: name
        chromas:
        - assetName: assetName
          id: id
          localizedNames:
            key: localizedNames
          name: name
        - assetName: assetName
          id: id
          localizedNames:
            key: localizedNames
          name: name
        equips:
        - assetName: assetName
          id: id
          localizedNames:
            key: localizedNames
          name: name
        - assetName: assetName
          id: id
          localizedNames:
            key: localizedNames
          name: name
        gameModes:
        - assetName: assetName
          id: id
          localizedNames:
            key: localizedNames
          name: name
        - assetName: assetName
          id: id
          localizedNames:
            key: localizedNames
          name: name
        maps:
        - assetName: assetName
          id: id
          localizedNames:
            key: localizedNames
          name: name
        - assetName: assetName
          id: id
          localizedNames:
            key: localizedNames
          name: name
        playerCards:
        - assetName: assetName
          id: id
          localizedNames:
            key: localizedNames
          name: name
        - assetName: assetName
          id: id
          localizedNames:
            key: localizedNames
          name: name
        playerTitles:
        - assetName: assetName
          id: id
          localizedNames:
            key: localizedNames
          name: name
        - assetName: assetName
          id: id
          localizedNames:
            key: localizedNames
          name: name
        skinLevels:
        - assetName: assetName
          id: id
          localizedNames:
            key: localizedNames
          name: name
        - assetName: assetName
          id: id
          localizedNames:
            key: localizedNames
          name: name
        skins:
        - assetName: assetName
          id: id
          localizedNames:
            key: localizedNames
          name: name
        - assetName: assetName
          id: id
          localizedNames:
            key: localizedNames
          name: name
        sprayLevels:
        - assetName: assetName
          id: id
          localizedNames:
            key: localizedNames
          name: name
        - assetName: assetName
          id: id
          localizedNames:
            key: localizedNames
          name: name
        sprays:
        - assetName: assetName
          id: id
          localizedNames:
            key: localizedNames
          name: name
        - assetName: assetName
          id: id
          localizedNames:
            key: localizedNames
          name: name
        version: version
      properties:
        acts:
          items:
            $ref: "#/components/schemas/ContentItem"
          type: array
          default: null
        ceremonies:
          items:
            $ref: "#/components/schemas/ContentItem"
          type: array
          default: null
        characters:
          items:
            $ref: "#/components/schemas/ContentItem"
          type: array
          default: null
        charmLevels:
          items:
            $ref: "#/components/schemas/ContentItem"
          type: array
          default: null
        charms:
          items:
            $ref: "#/components/schemas/ContentItem"
          type: array
          default: null
        chromas:
          items:
            $ref: "#/components/schemas/ContentItem"
          type: array
          default: null
        equips:
          items:
            $ref: "#/components/schemas/ContentItem"
          type: array
          default: null
        gameModes:
          items:
            $ref: "#/components/schemas/ContentItem"
          type: array
          default: null
        maps:
          items:
            $ref: "#/components/schemas/ContentItem"
          type: array
          default: null
        playerCards:
          items:
            $ref: "#/components/schemas/ContentItem"
          type: array
          default: null
        playerTitles:
          items:
            $ref: "#/components/schemas/ContentItem"
          type: array
          default: null
        skinLevels:
          items:
            $ref: "#/components/schemas/ContentItem"
          type: array
          default: null
        skins:
          items:
            $ref: "#/components/schemas/ContentItem"
          type: array
          default: null
        sprayLevels:
          items:
            $ref: "#/components/schemas/ContentItem"
          type: array
          default: null
        sprays:
          items:
            $ref: "#/components/schemas/ContentItem"
          type: array
          default: null
        version:
          type: string
      required:
      - acts
      - ceremonies
      - characters
      - charmLevels
      - charms
      - chromas
      - equips
      - gameModes
      - maps
      - playerCards
      - playerTitles
      - skinLevels
      - skins
      - sprayLevels
      - sprays
      - version
    ContentV1Response:
      example:
        data:
          acts:
          - assetName: assetName
            id: id
            localizedNames:
              key: localizedNames
            name: name
          - assetName: assetName
            id: id
            localizedNames:
              key: localizedNames
            name: name
          ceremonies:
          - assetName: assetName
            id: id
            localizedNames:
              key: localizedNames
            name: name
          - assetName: assetName
            id: id
            localizedNames:
              key: localizedNames
            name: name
          characters:
          - assetName: assetName
            id: id
            localizedNames:
              key: localizedNames
            name: name
          - assetName: assetName
            id: id
            localizedNames:
              key: localizedNames
            name: name
          charmLevels:
          - assetName: assetName
            id: id
            localizedNames:
              key: localizedNames
            name: name
          - assetName: assetName
            id: id
            localizedNames:
              key: localizedNames
            name: name
          charms:
          - assetName: assetName
            id: id
            localizedNames:
              key: localizedNames
            name: name
          - assetName: assetName
            id: id
            localizedNames:
              key: localizedNames
            name: name
          chromas:
          - assetName: assetName
            id: id
            localizedNames:
              key: localizedNames
            name: name
          - assetName: assetName
            id: id
            localizedNames:
              key: localizedNames
            name: name
          equips:
[...]
